{
    "presets": [
        ["@babel/env", {
            "targets": {
                "browsers": ["defaults"]
            },
            "modules": false
        }],
        "@babel/react"
    ],
    "plugins": [
        ["@babel/transform-runtime"]
    ]
}

