.audiovisual-gwAcJ {
  position: relative;
  overflow: hidden;
}
.audiovisual-gwAcJ .bgImage-Tph40 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(50%) blur(4px);
}
.audiovisual-gwAcJ .visualiser-NUZH_ {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
}
.audiovisual-gwAcJ .progressContainer-HogWF {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5%;
}
.audiovisual-gwAcJ .progressContainer-HogWF .progress-uJHrG {
  height: 100%;
  transition: width 0.2s linear;
}
.audiovisual-gwAcJ .waveZero-QyPUL {
  position: absolute;
  left: 0;
  right: 0;
}
.audiovisual-gwAcJ .fade-FwUKM.fadeIn-CjBnr {
  opacity: 0;
}
.audiovisual-gwAcJ .fade-FwUKM.fadeIn-CjBnr.fadeInActive-TGOxN {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.audiovisual-gwAcJ .fade-FwUKM.fadeOut-JurT0 {
  opacity: 1;
}
.audiovisual-gwAcJ .fade-FwUKM.fadeOut-JurT0.fadeOutActive-zxe00 {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.audiovisual-gwAcJ .fadeOutScale-nVwZc {
  visibility: hidden;
}
.audiovisual-gwAcJ .fadeOutScale-nVwZc.fadeOutScaleTransition-VrhbX {
  visibility: visible;
  opacity: 1;
  transform: scale(1, 1);
}
.audiovisual-gwAcJ .fadeOutScale-nVwZc.fadeOutScaleTransition-VrhbX.fadeOutScaleTransitionActive-b3AUV {
  opacity: 0;
  transform: scale(1.5, 1.5);
  transition: all 0.5s ease;
}
.audiovisual-gwAcJ .play-RiQmw {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5vh;
  margin-left: -4.333vh;
  width: 0;
  height: 0;
  border-top: 5vh solid transparent;
  border-bottom: 5vh solid transparent;
  border-left: 8.666vh solid;
}
.audiovisual-gwAcJ .pause-ZnvQq {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5vh;
  margin-left: -5vh;
  width: 2.5vh;
  height: 10vh;
  border-left: 2.5vh solid;
  border-right: 2.5vh solid;
}

.compact-sQJve {
  display: flex;
  margin: 8px 0;
  cursor: pointer;
}
.compact-sQJve:hover {
  text-decoration: underline;
}
.compact-sQJve > * {
  margin: 0 8px;
}
.compact-sQJve > .picture-mq4WL {
  width: 64px;
  align-self: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 50%;
}
.compact-sQJve > div.picture-mq4WL {
  height: 64px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #262626;
}
.compact-sQJve > .details-eOd1v {
  display: flex;
  flex-flow: column nowrap;
}
.compact-sQJve > .details-eOd1v > .title-yhBRj {
  font-weight: bolder;
}
.items-F1GQs {
  max-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
.items-F1GQs .search-RRfzX {
  margin: 8px 8px;
  border-bottom: 1px solid #e6e6e6;
}
.items-F1GQs .search-RRfzX input[type="search"] {
  width: 100%;
  background: none;
  color: #e6e6e6;
  border: none;
}
.items-F1GQs .search-RRfzX input[type="search"]:focus {
  outline: none;
}
.items-F1GQs .search-RRfzX .actions-n80RP {
  position: absolute;
  right: 0;
}
.items-F1GQs .search-RRfzX .actions-n80RP input {
  display: none;
}
.items-F1GQs .search-RRfzX .actions-n80RP span,
.items-F1GQs .search-RRfzX .actions-n80RP label {
  cursor: pointer;
  margin: 8px 8px;
}
.items-F1GQs .search-RRfzX .actions-n80RP span:hover,
.items-F1GQs .search-RRfzX .actions-n80RP label:hover {
  text-decoration: underline;
}
.items-F1GQs .itemsContainer-Y3TLX {
  flex: 1;
  overflow: auto;
  margin: 0 8px 8px;
  padding: 8px 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.items-F1GQs .itemsContainer-Y3TLX .item-Z3gxD {
  margin: 4px;
  cursor: pointer;
}
.items-F1GQs .itemsContainer-Y3TLX .item-Z3gxD .remove-oGSJf {
  display: none;
}
.items-F1GQs .itemsContainer-Y3TLX .item-Z3gxD:hover,
.items-F1GQs .itemsContainer-Y3TLX .item-Z3gxD.selected-OsuiC {
  text-decoration: underline;
}
.items-F1GQs .itemsContainer-Y3TLX .item-Z3gxD:hover .remove-oGSJf,
.items-F1GQs .itemsContainer-Y3TLX .item-Z3gxD.selected-OsuiC .remove-oGSJf {
  display: unset;
  float: right;
}

.controls-YCJN4 {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-flow: column nowrap;
}
.controls-YCJN4 .playback-AFalc {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 8px 8px;
  text-align: right;
}
.controls-YCJN4 .playback-AFalc span {
  cursor: pointer;
  margin: 0 4px;
}
.controls-YCJN4 .playback-AFalc span:hover {
  text-decoration: underline;
}
.controls-YCJN4 .help-asfnr {
  margin: 0 8px 8px;
  padding: 8px 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: auto;
}
.controls-YCJN4 .help-asfnr table {
  border-collapse: collapse;
}
.controls-YCJN4 .help-asfnr table tbody tr:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.controls-YCJN4 .help-asfnr table tbody tr td {
  word-wrap: break-word;
  padding: 4px;
}

.container-B97Iv {
  height: 100vh;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.container-B97Iv .fileInput-yLtd2 {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.container-B97Iv .fileInput-yLtd2 h1 {
  cursor: pointer;
}
.container-B97Iv .fileInput-yLtd2 h1:hover,
.container-B97Iv .fileInput-yLtd2 h1:active {
  text-decoration: underline;
}
.container-B97Iv .fileInput-yLtd2 input[type="file"] {
  position: absolute;
  display: none;
}
.container-B97Iv .audiovisual-r9VBU {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.container-B97Iv .itemsContainer-zrBSz {
  position: relative;
  flex: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}


/*# sourceMappingURL=59.488b135600ee2f923aba.css.map*/