:local(.container) {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    position: relative;

    background-color: lighten(black, 10%);

    .audiovisual {
        flex: 1;
    }

    .events {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

