:local(.audiovisual) {
    position: relative;
    overflow: hidden;

    &:not(.kick) {
        transition: background-color 0.3s ease;
    }

    .freq {
        position: absolute;
        transition: all 0.1s ease;
    }

    .wave {
        position: absolute;
        transition: all 0.1s ease;
    }
}
