@import '~components/base';

.file {
    margin: @spacing-y @spacing-x;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.compact {
    .file();

    display: flex;

    > * {
        margin: 0 @spacing-x;
    }

    > .picture {
        width: @btn-min-width;
        align-self: center;
        box-shadow: @box-shadow;
        text-align: center;
        font-size: 50%;
    }

    > div.picture {
        height: @btn-min-height;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        background-color: @color-bg-card;
    }

    > .details {
        display: flex;
        flex-flow: column nowrap;

        > .title {
            font-weight: bolder;
        }
    }
}

.files {
    max-height: 100vh;

    display: flex;
    flex-flow: column nowrap;

    .search {
        margin: @spacing-y @spacing-x;
        border-bottom: 1px solid @color-text;

        input[type="search"] {
            width: 100%;
            background: none;
            color: @color-text;
            border: none;

            &:focus {
                outline: none;
            }
        }

        .actions {
            position: absolute;
            right: 0;

            input {
                display: none;
            }

            span, label {
                cursor: pointer;
                margin: @spacing-y @spacing-x;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .filesContainer {
        flex: 1;
        overflow: auto;
        margin: 0 @spacing-x @spacing-y;
        padding: @spacing-y @spacing-x;

        background-color: fade(black, 50%);
        border-radius: @spacing-y;

        .file {
            margin: 4px;
            cursor: pointer;

            .remove {
                display: none;
            }

            &:hover, &.selected {
                text-decoration: underline;

                .remove {
                    display: unset;
                    float: right;
                }
            }
        }
    }
}

